<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Demo</title>
	
	<link rel="stylesheet" th:href="@{/css/cssdemo.css}"/>
</head>

<body>


	<h3>Employee Data</h3>
	<hr>
	<br>

	<table border="1">
		
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employeesList}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.firstName}"></td>
				<td th:text="${employee.lastName}"></td>
				<td th:text="${employee.email}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>